.card {
  color: white;
  background-image: url(https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  padding: 10rem 0 0;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.03);
}

.card__wrapper {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(0 0% 0% /0.3) 20%,
    hsl(0 0% 0% /1)
  );
  transform: translateY(90%);
  transition: transform 500ms ease;
}

.card__wrapper > * {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card:hover .card__wrapper {
  transform: translateY(0);
}

.card:hover .card__wrapper > * {
  opacity: 1;
}

.card__title {
  position: relative;
  /* width: max-content = only use with one line sentences */
  width: max-content;
  /* max-width: 100% prevents overflow with longer text */
  max-width: 100%;
}

.card__title::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: -4px;
  height: 3px;
  background: #2a9d8f;
  width: calc(100% +var(--padding));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card__title::after {
  transform: scaleX(1);
}

.card__body {
  padding: 1rem 0;
  color: rgb(255 255 255 /0.9);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #2a9d8f;
  border-radius: 0.25em;
  padding: 0.5em 1.25em;
  font-weight: bold;
}

.button:hover,
.button:focus {
  background-color: #e76f51;
}

@media (max-width: 1460px) {
  .card {
    width: 320px;
  }
}

@media (max-width: 1380px) {
  .card {
    width: 300px;
  }
}

@media (max-width: 1298px) {
  .card {
    width: 290px;
  }
}

@media (max-width: 1258px) {
  .card {
    width: 280px;
  }
}

@media (max-width: 1232px) {
  .card {
    width: 380px;
  }
}

@media (max-width: 1218px) {
  .card {
    width: 340px;
  }
}

@media (max-width: 1108px) {
  .card {
    width: 320px;
  }
}

@media (max-width: 1046px) {
  .card {
    width: 300px;
  }
}

@media (max-width: 976px) {
  .card {
    width: 280px;
  }
}

@media (max-width: 950px) {
  .card {
    width: 400px;
  }
}

@media (max-width: 866px) {
  .card {
    width: 350px;
  }
}

@media (max-width: 760px) {
  .card {
    width: 300px;
  }
}

@media (max-width: 666px) {
  .card {
    width: 280px;
  }
}

@media (max-width: 630px) {
  .card {
    width: 550px;
  }
}

@media (max-width: 614px) {
  .card {
    width: 530px;
  }
}

@media (max-width: 590px) {
  .card {
    width: 510px;
  }
}

@media (max-width: 562px) {
  .card {
    width: 480px;
  }
}

@media (max-width: 546px) {
  .card {
    width: 460px;
  }
}

@media (max-width: 522px) {
  .card {
    width: 440px;
  }
}
