.footer__container {
  height: 300px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  max-width: 1440px;
  margin: auto;
}

/* .footer__logo {
  text-decoration: none;
  color: white;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
} */

.menu__container {
  width: 250px;
  height: 50px;
  position: relative;
}

.social__menu {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.social__menu > i {
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

.links__container {
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  padding: 10px 24px;
}

.website__links {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-end;
  gap: 10px;
  color: white;
  font-size: 0.8rem;
}

.website__links > li {
  display: flex;
  list-style: none;
}

.rights {
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: auto;
  max-width: 1440px;
  padding: 10px 24px;
  font-size: 0.8rem;
}
