.header {
  height: 250px;
  color: #fff;
  background-image: url(https://images.pexels.com/photos/2179483/pexels-photo-2179483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: 50% 35%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  padding-bottom: 2rem;
  padding: 1rem 1rem;
  font-size: 1.6rem;
}

.header__subtitle {
  padding: 1rem 1rem;
  font-size: 1.3rem;
}
