.sidenav {
  width: 70%;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3 ease-out;
}

.sidenav.toggle {
  transform: translateX(0);
}
