.container {
  width: 100%;
  max-width: 1440px;
}

.homescreen {
  max-width: 1440px;
  margin: auto;
  padding: 0 1.5rem;
}

.homescreen__title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #666;
  margin-top: 1rem;
  padding: 40px 0px;
}

.homescreen__paintings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.homescreen__slider {
  padding-top: 60px;
}

.featured__products {
  display: flex;
  justify-content: center;
  position: relative;
  color: #666;
  font-size: 26px;
  font-weight: normal;
  font-family: "Kelly Slab", cursive;
  padding-bottom: 4rem;
}

/* .featured__products::before {
  content: " ";
  position: absolute;
  top: 18%;
  right: 40%;
  margin-top: -2px;
  background: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  width: 20px;
  height: 7px;
}

.featured__products::after {
  content: " ";
  position: absolute;
  top: 18%;
  left: 40%;
  margin-top: -2px;
  background: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  width: 20px;
  height: 7px;
} */

@media (max-width: 1232px) {
  .homescreen__paintings {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .homescreen__paintings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .homescreen__paintings {
    grid-template-columns: 1fr;
  }
}
